nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #004d40;
    color: white;
  }
  
  nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .auth-buttons button {
  background-color: #00897b; /* A shade of medium green */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


nav button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  nav button:hover {
    background-color: #45a049;
  }